
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff; /* White background */
  color: rgb(0, 0, 0);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 50px; /* Full round shape */
}

.nav-links a:hover, .nav-links .active {
  background-color: #6a0572; /* Dark purple background */
  color: white;
}
