:root {
    --primery: #8C387C;
    --blue: #05073D;
    --darkgreen: #173334;
    --white: #fff;
    --black: #000;
    --heading-txt: #173334;
}

.main-text {
    color: #8C387C !important;
}

.normal-text {
    color: #05073D !important;
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-family: "DM Sans", serif;
}

body {
    background-color: white !important;
}



li {
    padding-inline: 16px;
}

nav {
    margin-inline: 32px;
}



.royalbutton {
    background-color: #8C387C;
    padding-inline: 18 px;
    border-radius: 100px;
    font-weight: 600;
    transition: background-color ease-in 0.3s;
}

    .royalbutton:hover {
        background-color: #742f66;
    }


/*.dropdown-item .a:hover {
    background-color: #8C387C !important;
    color: white !important;
}*/


a {
    text-decoration: none;
    color: midnightblue !important;
    font-weight: 500;
}


.nav-link {
    color: midnightblue !important;
    font-weight: 600;
}

    .nav-link:hover {
        color: #8C387C !important;
    }






.banner_btn {
    background-color: transparent;
    color: white;
    border: 1.7px solid white;
    border-radius: 100px;
    padding-block: 8px;
    padding-inline: 30px;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.7s;
}

    .banner_btn:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }

.inter_btn {
    background-color: transparent;
    color: var(--white);
    border: 1.7px solid var(--white);
    border-radius: 100px;
    padding-block: 8px;
    padding-inline: 30px;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.7s;
}

    .inter_btn:hover {
        background-color: var(--white);
        color: #C559B1;
        cursor: pointer;
    }


.domestic_btn {
    background-color: transparent;
    color: var(--primery);
    border: 1.7px solid var(--primery);
    border-radius: 100px;
    padding-block: 8px;
    padding-inline: 30px;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.7s;
}

    .domestic_btn:hover {
        background-color: var(--primery);
        color: var(--white);
        cursor: pointer;
    }



/* why choose us start */

.why-choose-us .choose-row {
    min-width: 842px;
    transform: translateX(-200px);
    margin-top: 70px;
}

.section-title h2 {
    color: var(--primery);
    font-weight: 700;
}

.why-choose-us .chose-box {
    border-radius: 24px;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.15);
    padding: 24px 20px;
    background-color: #fff;
    min-height: 235px;
}

.why-choose-us .choose-row .title {
    margin-top: 20px;
    color: var(--primery);
    margin-bottom: 12px;
    font-size: 19px;
}
/* why choose us end */

/* contact start */
.contact-details .section-title {
    padding-top: 48px;
}

.contact-details .title {
    margin-bottom: 24px;
}

.section-title h2 {
    color: var(--primery);
    font-weight: 700;
}

.expert-team {
    background-color: #F9F9F7;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    padding: 28px;
    margin-top: 24px;
}

    .expert-team .title {
        color: #05073D;
        margin-bottom: 1rem;
    }

.office-address {
    background-color: #F9F9F7;
    border: 1px solid #E9E9E9;
    border-radius: 12px;
    padding: 30px;
    max-width: 390px;
    height: 100%;
}

.contact-details .row {
    gap: 40px 0;
}

.office-address .title {
    color: var(--primery);
    font-weight: 600;
    margin-bottom: 1rem;
}

.office-address ul li:not(:last-child) {
    margin-bottom: 12px;
}

.office-address ul li {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.contact_section .contact-form {
    padding: 2rem;
    background-color: #F9F9F7;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    min-height: 100%;
}

.contact-form {
    background-color: #F9F9F7;
    border: 1px solid #E9E9E9;
    border-radius: 12px;
    margin: 0 auto;
    padding: 38px 37px 60px 37px;
    min-height: 760px;
}

.font18 {
    font-size: 15px !important;
}

.btn.btn-fill, .btn-send {
    background-color: var(--primery) !important;
    color: var(--white) !important;
    font-weight: 400;
}

.btn-box .btn {
    background: transparent;
    border-radius: 50px;
    color: #fff;
    padding: 5px 20px;
    display: inline-flex;
    font-size: 15px;
    align-items: center;
    font-family: "DM Sans", serif;
    letter-spacing: 1px;
    border: 1px solid var(--white);
}
/* contact end */



/* Domestic start*/
.prod_title {
    padding: 10rem 7rem;
    min-height: 550px;
    display: flex;
    align-items: center;
    background-image: url('/assets/Images/home_banner.png');
    background-size:cover; 
    background-attachment:fixed;
}

    .prod_title h1 {
        color: var(--white);
        font-weight: 700;
        font-size: 2.8em;
        text-shadow: 2px 2px 7px #00000094;
        letter-spacing: 0.7px;
    }

    .prod_title p {
        font-size: 24px;
        font-weight: 500;
        color: var(--white);
    }

.domestic_title {
    color: var(--primery);
}


.packages-plan .card-image img {
    width: 100%;
    height: auto;
}

.packages-plan .card-content {
    padding: 16px;
}

.packages-plan .location {
    font-size: 15px;
    font-weight: 400;
    color: var(--blue);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.packages-plan .price {
    font-size: 18px;
    color: var(--blue);
    margin: 8px 0;
}

.packages-plan .duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}

    .packages-plan .duration span {
        font-size: 16px;
        color: var(--blue);
        display: flex;
        align-items: center;
        gap: 4px;
    }

.card-content h2 {
    font-size: 24px;
}

.packages-plan .view-more {
    text-decoration: none;
    font-size: 17px;
    color: var(--primery) !important;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 4px;
}

.packages-plan .price span {
    display: inline-block;
    font-size: 18px;
}

.prim-txt {
    color: var(--primery);
}

.fa-lg {
    font-size: 1.50em;
    line-height: .05em;
    vertical-align: -.075em;
}
/* Domestic end*/




.packageimg img {
    object-fit: cover; /* Ensures image covers the container without stretching */
    transition: transform 0.3s ease; /* Smooth transition */
}

    .packageimg img:hover {
        transform: scale(97%)
    }



/*Tour Details*/
.tourtags {
    background-color: var(--primery);
    color: white;
    width: fit-content;
    border-radius: 12px;
}

.tourlocation {
    background-color: #EEE8F6;
    color: white;
    width: fit-content;
    border-radius: 12px;
}

.tour_nav {
    border: 2px var(--primery) solid;
    width: fit-content;
    border-radius: 50px;
}

.active {
    background-color: var(--primery) !important;
    border-bottom-left-radius:50px;
    border-top-left-radius:50px;
}
.itinerary_font{
    font-weight:500;
}
/*Tour Details*/
