@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-slide {
    animation: slide 15s linear infinite;
  }
  
  .animate-slide:hover {
    animation-play-state: paused;
  }